body {
    font-family: sans-serif;
    background-color: white
}

.wrap {
    min-width: 600px;
    width: 80%;
    margin: auto;
    background-color: #f2fefe;
}

.content,aside{
	height: 600px;
}

.content {
    background-color: #fffafa;
    float: left;
    width: 80%;
}
aside{
	background-color: #f3faf0;
	float: left;
	width: 20%;
}

aside ul{
	list-style: none;
	padding-left: 0px;
}

aside ul a{
	text-decoration: none;
	color: #000000;
}